{% extends 'userapp/master.html' %}
{% load static %} 
{% block content %}

    <!-- Section 1 Hero Section Start -->
    <div class="container-fluid position-relative p-0">
        <div class="header-section">
            <div class="header-content">
                <h1>AI Details</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, reiciendis!</p>
            </div>
        </div>
    </div>
    <!-- Section 1 Hero Section End -->

    <!-- Section 2 Start -->
    <!-- Section 1 Industry We Serve Title -->
    <div class="container py-5">
        <h2 class="fw-normal display-6">Leading Change and Reinventing Growth for Global Business of Diverse Industries
        </h2>
        <p class="fs-5" style="font-weight: 100;">Techverse Solutions was born out of a vision to develop tech-based
            solutions focused on innovation, quality,
            and personalized services. In today’s ever-changing business environment, most organizations are more than
            willing to adopt digital innovation and transformation solutions that deliver value and sustainability.
            Being a Top IT Consultation company, We solve complex business challenges and deliver mission-critical
            solutions to various clients.</p>
    </div>
    <!-- Section 1 Industry We Serve Title -->
     
    <!-- Section 2 start -->
    <div class="container py-5">
        <h1 class="mb-5 text-blue fw-bold text-center">AI Development</h1>
  <div class="row align-items-start">
    <!-- Left Column -->
    <div class="col-md-6 mb-4">
      <h2 class="fw-bold mt-3 mb-4 text-blue">Integrate Generative AI with Your Existing Systems</h2>
      <p class="text-muted mb-3">Our generative AI solutions work harmoniously with your existing infrastructure, minimizing disruption while maximizing value.</p>

      <div class="icon-bullet mb-4">
        <div class="icon-circle p-2"><i class="fa fa-user"></i></div>
        <div>
          <strong>Data Integration</strong>
          <p class="text-muted mb-0">Connect generative AI with your existing data sources for domain-specific training and generation.</p>
        </div>
      </div>

      <div class="icon-bullet mb-4">
        <div class="icon-circle p-2"><i class="fa fa-link"></i></div>
        <div>
          <strong>API & Middleware Solutions</strong>
          <p class="text-muted mb-0">Develop APIs and middleware for seamless communication between AI and your applications.</p>
        </div>
      </div>

      <div class="icon-bullet mb-4">
        <div class="icon-circle p-2"><i class="fa fa-shield"></i></div>
        <div>
          <strong>Security & Compliance</strong>
          <p class="text-muted mb-0">Ensure all generative AI solutions meet security and regulatory requirements.</p>
        </div>
      </div>
      <div class="icon-bullet mb-4">
        <div class="icon-circle p-2"><i class="fa fa-link"></i></div>
        <div>
          <strong>API & Middleware Solutions</strong>
          <p class="text-muted mb-0">Develop APIs and middleware for seamless communication between AI and your applications.</p>
        </div>
      </div>

      <div class="icon-bullet mb-4">
        <div class="icon-circle p-2"><i class="fa fa-shield"></i></div>
        <div>
          <strong>Security & Compliance</strong>
          <p class="text-muted mb-0">Ensure all generative AI solutions meet security and regulatory requirements.</p>
        </div>
      </div>

      <!-- <a href="#" class="d-inline-block mt-3 fw-bold text-primary">Learn more about our integration approach →</a> -->
    </div>

    <!-- Right Column -->
    <div class="col-md-6">
      <div class="info-card">
        <img src="{% static 'userapp/images/aidetail.jpg' %}" alt="AI Illustration"/>

        <h5 class="fw-semibold mb-3">Comprehensive Integration Framework</h5>
        <p class="text-muted">Our proven integration framework ensures that your AI solutions work seamlessly with your existing stack, minimizing disruption and maximizing ROI.</p>

        <div class="row">
          <div class="col-6">
            <div class="mini-card">
              <h6>Enterprise Systems</h6>
              <p>Connect AI with existing applications</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mini-card">
              <h6>Content Management</h6>
              <p>Integrate with CMS & DAM</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mini-card">
              <h6>Cloud Infrastructure</h6>
              <p>Leverage scalable deployment</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mini-card">
              <h6>Security</h6>
              <p>Compliant & protected</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- Section 2 End -->

    <!-- Section 3 Start -->
<section class="py-5">
    <div class="container-fluid text-center">
      <h1 class="fw-bold mb-3 text-blue">AI Use Cases</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, non?</p>
      <div class="row">
        <div class="col-md-6">
          <div class="circle-container">
            <div class="center-ai">
              <img src="{% static 'userapp/images/AI-for.svg' %}" alt="AI Core" />
            </div>
            <div class="circle-item item-1">AI for Fintech</div>
            <div class="circle-item item-2">AI for Healthcare</div>
            <div class="circle-item item-3">AI for Media & Entertainment</div>
            <div class="circle-item item-4">AI for Retail & e-Commerce</div>
            <div class="circle-item item-5">AI for Education</div>
            <div class="circle-item item-6">AI for Marketing</div>
          </div>
        </div>
        <!-- Right Description Boxes -->
        <div class="col-md-6 bg-primary1 text-white p-0">
          <div class="row h-100 g-0">
            <div class="col-6 d-flex align-items-center justify-content-center border p-3">
              <div>
                <h4 class="fw-bold">AI for Fintech</h4>
                <p class="mb-0">Automate risk, fraud detection, and customer insights.</p>
              </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center border p-3">
              <div>
                <h4 class="fw-bold">AI for Healthcare</h4>
                <p class="mb-0">Enhance diagnostics, patient monitoring, and drug research.</p>
              </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center border p-3">
              <div>
                <h4 class="fw-bold">AI for Media & Entertainment</h4>
                <p class="mb-0">Generate personalized content and optimize user engagement.</p>
              </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center border p-3">
              <div>
                <h4 class="fw-bold">AI for Retail & e-Commerce</h4>
                <p class="mb-0">Enable smart recommendations and inventory prediction.</p>
              </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center border p-3">
              <div>
                <h4 class="fw-bold">AI for Education</h4>
                <p class="mb-0">Provide adaptive learning, grading, and performance tracking.</p>
              </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center border p-3">
              <div>
                <h4 class="fw-bold">AI for Marketing</h4>
                <p class="mb-0">Create targeted campaigns and perform sentiment analysis.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </section>
    <!-- Section 3 End -->

    <!-- Section 4 Start -->

    <!-- Section 4 End -->

    <!-- Section 4 Start -->
    
    <!-- Section 4 End -->


    <!-- Section 5 Start -->

    <!-- Section 5 End -->

    <!-- Section 6 Start -->

    <!-- Section 6 End -->

    <!-- Section tech start -->
    
    <!-- Section tech end -->

    <!-- process start  -->
    <section class="process-section text-center">
        <div class="container">
            <h1 class="mb-3 text-blue fw-bold text-center">Process of Building App</h1>
            <p class="mb-5">Delivering work within time and budget which meets client's requirements is our moto.</p>


            <div class="timeline py-5">

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-handshake"></i></div>
                    <div class="step-label">Initial Meeting</div>
                    <div class="circle mb-0">1</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">2</div>
                    <div class="step-icon"><i class="fas fa-file-alt"></i></div>
                    <div class="step-label">Evaluation & Planning</div>
                </div>

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-code"></i></div>
                    <div class="step-label">Design & Development</div>
                    <div class="circle mb-0">3</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">4</div>
                    <div class="step-icon"><i class="fas fa-thumbs-up"></i></div>
                    <div class="step-label">Quality Testing</div>
                </div>

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-cogs"></i></div>
                    <div class="step-label">Maintenance & Enhancement</div>
                    <div class="circle mb-0">5</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">6</div>
                    <div class="step-icon"><i class="fas fa-envelope"></i></div>
                    <div class="step-label">Delivery</div>
                </div>

            </div>
        </div>
    </section>

    <!-- process end -->

    <!-- Section 7 Start -->
    <section class="container newsletter-section position-relative overflow-hidden py-5 rounded-4 mt-5">
        <div class="container">
            <div class="newsletter-content text-center py-5 px-4">
                <h1 class="newsletter-title text-white fw-bold">
                    Start Your App Journey With Expert Solutions and Seamless Experiences
                </h1>
                <div class="mt-4 mt-md-0">
                    <a href="#contact" class="btn bg-light px-4 py-2 newslatter-button">Let's Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 7 End -->

    <!-- Section 8 Start -->

    <!-- Section 8 End -->

    <!-- Section 9 Start -->
    <section class="py-5">
        <div class="container">
            <h1 class="text-center text-blue fw-bold mb-5">Latest Blogs</h1>
            <div class="row g-4">

                <!-- Blog Card 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm h-100 rounded-0">
                        <img src="{% static 'userapp/images/blog1.jpg' %}" class="card-img-top rounded-0" alt="Blog Image">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold">Business tool for your customer</h5>
                            <p class="card-text text-muted small">
                                Exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                            </p>
                        </div>
                        <div class="card-footer bg-white border-0 pt-0">
                            <ul class="list-inline small text-muted d-flex justify-content-between mb-0">
                                <li class="list-inline-item">
                                    <i class="far fa-calendar-alt me-1"></i> 10 Jul, 2025
                                </li>
                                <li class="list-inline-item">
                                    <i class="far fa-user me-1"></i> User
                                </li>
                                <li class="list-inline-item">
                                    <i class="far fa-comments me-1"></i> 38
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Blog Card 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm h-100 rounded-0">
                        <img src="{% static 'userapp/images/blog2.jpg' %}" class="card-img-top rounded-0" alt="Blog Image">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold">Growth your business strategy</h5>
                            <p class="card-text text-muted small">
                                Exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                            </p>
                        </div>
                        <div class="card-footer bg-white border-0 pt-0">
                            <ul class="list-inline small text-muted d-flex justify-content-between mb-0">
                                <li class="list-inline-item">
                                    <i class="far fa-calendar-alt me-1"></i> 25 Jun, 2025
                                </li>
                                <li class="list-inline-item">
                                    <i class="far fa-user me-1"></i> User
                                </li>
                                <li class="list-inline-item">
                                    <i class="far fa-comments me-1"></i> 68
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Blog Card 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm h-100 rounded-0">
                        <img src="{% static 'userapp/images/blog1.jpg' %}" class="card-img-top rounded-0" alt="Blog Image">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold">Business people success master plan</h5>
                            <p class="card-text text-muted small">
                                Exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                            </p>
                        </div>
                        <div class="card-footer bg-white border-0 pt-0">
                            <ul class="list-inline small text-muted d-flex justify-content-between mb-0">
                                <li class="list-inline-item">
                                    <i class="far fa-calendar-alt me-1"></i> 16 May, 2025
                                </li>
                                <li class="list-inline-item">
                                    <i class="far fa-user me-1"></i> User
                                </li>
                                <li class="list-inline-item">
                                    <i class="far fa-comments me-1"></i> 58
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Section 9 End -->

    <!-- Section testimonial Start -->
    <div class="container py-5">
        <h2 class="text-start mb-3 mb-md-5 text-blue fw-bold fs-2">What Our Clients Says</h2>
        <div class="owl-carousel owl-theme">
            <!-- Testimonial 1 -->
            <div class="card shadow-sm rounded-0 testimonial-card position-relative">
                <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
                    style="top: 10px; right: 20px;"></i>
                <div class="card-body">
                    <h4>"The best Webflow Templates"</h4>
                    <p class="mb-0">Working with this team was an absolute pleasure. They understood our requirements
                        from day one
                        and delivered
                        a high-quality product ahead of schedule. Communication was seamless, and any feedback we gave
                        was quickly
                        implemented. We're already planning our next project together!.</p>
                    <div class="star-rating">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle"
                            style="width: 40px; height: 40px;">
                        <div class="d-flex flex-column text">
                            <span class="mb-0 fw-bold">Sophia Moore</span>
                            <span style="font-size: 12px;">CEO at K Group</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial 2 -->
            <div class="card shadow-sm rounded-0 testimonial-card position-relative">
                <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
                    style="top: 10px; right: 20px;"></i>
                <div class="card-body">
                    <h4>"The best Webflow Templates"</h4>
                    <p class="mb-0">Working with this team was an absolute pleasure. They understood our requirements
                        from day one
                        and delivered
                        a high-quality product ahead of schedule. Communication was seamless, and any feedback we gave
                        was quickly
                        implemented. We're already planning our next project together!.</p>
                    <div class="star-rating">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle"
                            style="width: 40px; height: 40px;">
                        <div class="d-flex flex-column text">
                            <span class="mb-0 fw-bold">Sophia Moore</span>
                            <span style="font-size: 12px;">CEO at K Group</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial 3 -->
            <div class="card shadow-sm rounded-0 testimonial-card position-relative">
                <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
                    style="top: 10px; right: 20px;"></i>
                <div class="card-body">
                    <h4>"The best Webflow Templates"</h4>
                    <p class="mb-0">Working with this team was an absolute pleasure. They understood our requirements
                        from day one
                        and delivered
                        a high-quality product ahead of schedule. Communication was seamless, and any feedback we gave
                        was quickly
                        implemented. We're already planning our next project together!.</p>
                    <div class="star-rating">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle"
                            style="width: 40px; height: 40px;">
                        <div class="d-flex flex-column text">
                            <span class="mb-0 fw-bold">Sophia Moore</span>
                            <span style="font-size: 12px;">CEO at K Group</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial 4 -->
            <div class="card shadow-sm rounded-0 testimonial-card position-relative">
                <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
                    style="top: 10px; right: 20px;"></i>
                <div class="card-body">
                    <h4>"The best Webflow Templates"</h4>
                    <p class="mb-0">Working with this team was an absolute pleasure. They understood our requirements
                        from day one
                        and delivered
                        a high-quality product ahead of schedule. Communication was seamless, and any feedback we gave
                        was quickly
                        implemented. We're already planning our next project together!.</p>
                    <div class="star-rating">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle"
                            style="width: 40px; height: 40px;">
                        <div class="d-flex flex-column text">
                            <span class="mb-0 fw-bold">Sophia Moore</span>
                            <span style="font-size: 12px;">CEO at K Group</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial 5 -->
            <div class="card shadow-sm rounded-0 testimonial-card position-relative">
                <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
                    style="top: 10px; right: 20px;"></i>
                <div class="card-body">
                    <h4>"The best Webflow Templates"</h4>
                    <p class="mb-0">Working with this team was an absolute pleasure. They understood our requirements
                        from day one
                        and delivered
                        a high-quality product ahead of schedule. Communication was seamless, and any feedback we gave
                        was quickly
                        implemented. We're already planning our next project together!.</p>
                    <div class="star-rating">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle"
                            style="width: 40px; height: 40px;">
                        <div class="d-flex flex-column text">
                            <span class="mb-0 fw-bold">Sophia Moore</span>
                            <span style="font-size: 12px;">CEO at K Group</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section testimonial End -->
    <!-- Section 10  Start Contact Us -->
    <div
        class="container-fluid d-flex flex-column align-items-center justify-content-center contact-us-section py-4 py-md-0">
        <h2 class="text-center mb-3 mb-md-5 text-blue fw-bold fs-2">Get in Touch</h2>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 col-sm-12 contact-left mb-0 mb-sm-5">
                    <p class="mb-3" style="max-width: 500px;">
                        Get in touch to discuss your development needs. At TechVerse, we provide reliable web and app
                        development solutions, delivering creative, efficient, and tailored services to help your
                        business
                        grow and succeed.
                    </p>
                    <div
                        class="mb-3 border-left border-4 ps-3 py-3 d-flex justify-content-start align-items-center gap-3">
                        <i class="fa fa-location-dot text-blue"></i>
                        <div>
                            <span class="fw-bold">Location:</span><br>
                            <span>913, The Capital 2,<br>Ahmedabad</span>
                        </div>
                    </div>
                    <div
                        class="mb-3 border-left border-4 ps-3 py-3 d-flex justify-content-start align-items-center gap-3">
                        <i class="fa fa-phone text-blue"></i>
                        <div>
                            <span class="fw-bold"> Call Us:</span>
                            <span>+91 9081431434</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 contact-right">
                    <form class="d-flex flex-column gap-3">
                        <div class="d-flex gap-2">
                            <input type="text" class="form-control rounded-0 py-3 bg-transparent border-dark"
                                placeholder="Enter Name" required>
                            <input type="text" class="form-control rounded-0 py-3 bg-transparent border-dark"
                                placeholder="Enter Email" required>
                        </div>
                        <div class="d-flex gap-2">
                            <input type="tel" class="form-control rounded-0 py-3 bg-transparent border-dark"
                                placeholder="Enter Phone" required>
                            <input type="text" class="form-control rounded-0 py-3 bg-transparent border-dark"
                                placeholder="Enter City" required>
                        </div>
                        <textarea class="form-control rounded-0 bg-transparent border-dark" placeholder="Enter Message"
                            style="min-height: 100px;"></textarea>
                        <button type="button" class="btn neon-button text-white py-3">Submit Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 10  End Contact Us -->

{% endblock %}