{% extends 'userapp/master.html' %}
{% load static %} 
{% block content %}

    <!-- Section 1 Hero Section Start -->
    <div class="container-fluid position-relative p-0">
        <div class="header-section">
            <div class="header-content">
                <h1>Insight Detail</h1>
                <p></p>
            </div>
        </div>
    </div>
    <!-- Section 1 Hero Section End -->

    <!-- Section 2 Blog Detail Start -->
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-8">
                <p class="text-uppercase text-dark mb-0" style="font-size: 14px;">{{data.category.name}}</p>
                <h2 class="text-blue">{{data.title}}</h2>
                <!-- Owner Name and Link -->
                <div class="d-flex align-items-center justify-content-start my-2">
                    <div class="d-flex align-items-center gap-2">
                        Written By - <p class="fw-bold text-blue mb-0">{{data.author}}</p>
                        <span>|</span>
                        <p class="text-secondary mb-0">{{data.date|date:'M d, Y'}}</p>
                    </div>
                </div>
                <!-- Blog Detail -->
                <div class="blog-detail py-3">
                    {% if data.image %}
                    <img src="{{data.image.url}}" alt="Blog 1" class="img-fluid rounded-0" style="width: 100%; height: 500px;">
                    {% else %}
                    <img src="{% static 'userapp/images/blog1.jpg' %}" alt="Blog 1" class="img-fluid rounded-0" style="width: 100%; height: 500px;">
                    {% endif %}
                    <!-- Detail -->
                    <div class="detail py-3">
                        <p>
                            {{data.description|safe}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 position-sticky mb-3">
                <div class="card bg-primary1 border-0 rounded-0 ">
                    <div class="card-body text-white">
                        <h2>TechVerse:Quality Software, Guaranteed.</h2>
                        <p>See How Techverse Can Help You.
                        <ul class="list-style">
                            <li class="nav-item mb-3">Custom Mobile App Development</li>
                            <li class="nav-item mb-3">High performance Web Development</li>
                            <li class="nav-item mb-3">Innovated AI Solutions</li>
                            <li class="nav-item mb-3">Flexible Team Augmentation</li>
                            <li class="nav-item mb-3">Engagging UI/UX Design</li>
                            <li class="nav-item mb-3">Enterprise-Grade Software Solutions</li>
                        </ul>
                        <a href="{% url 'userapp:contact' %}" class="btn btn-light fw-semibold">Let's Talk</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 2 Blog Detail End -->
    <!-- Section 3 Start -->
    <div class="container pb-5">
        <div class="row g-4">
            <h4 class="mb-0 text-secondary text-uppercase">Related Post</h4>
            <!-- Blog Card 1 -->
            {% for ab in related_blog %}
            <div class="col-md-6 col-lg-4">
            <a href="{% url 'userapp:blog_detail' ab.slug %}">
                <div class="card shadow-sm h-100 rounded-0">
                {% if ab.image %}
                <img src="{{ab.image.url}}" class="card-img-top rounded-0" alt="Blog Image">
                {% else %}
                <img src="{% static 'userapp/images/blog1.jpg' %}" class="card-img-top rounded-0" alt="Blog Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title fw-semibold">{{ab.title}}</h5>
                    <p class="card-text text-muted small">
                    {{ab.description|safe|slice:':200'}}....
                    </p>
                </div>
                <div class="card-footer bg-white border-0 pt-0">
                    <ul class="list-inline small text-muted d-flex justify-content-between mb-0">
                    <li class="list-inline-item">
                        <i class="far fa-calendar-alt me-1"></i> {{ab.date|date:'d M, Y'}}
                    </li>
                    <li class="list-inline-item">
                        <i class="far fa-user me-1"></i> {{ab.author}}
                    </li>
                    <li class="list-inline-item">
                        <i class="far fa-comments me-1"></i> 38
                    </li>
                    </ul>
                </div>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Section 2 End -->


{% endblock %}