{% extends 'userapp/master.html' %}
{% load static %} 
{% block content %}

<style>
  .active{
    border-bottom: 1px solid #003378;
  }
</style>

  <!-- Section 1 Hero Section Start -->
  <div class="container-fluid position-relative p-0">
        <div class="header-section">
            <div class="header-content">
                <h1>Insights</h1>
                <p>Here’s what’s new in the business world you should know.</p>
            </div>
        </div>
     </div>
  <!-- Section 1 Hero Section End -->

 <section class="container py-5">
    <h1 class="fw-bold mb-3 text-blue text-center mx-5">Find Articles and Blogs About Technology</h1>
    <p class="text-center">A clear spot for you to explore tech ideas on special subjects.</p>
    <!-- Filter -->
    <div class="filter py-4">
      <div class="filter-options d-flex flex-wrap gap-3 p-3 justify-content-center">
        <div class="d-flex align-items-center">
          <a href="{% url 'userapp:blog' %}" {% if request.GET.view_name == "blog" %} class="active" {% endif %}><label for="bubble">All</label></a>
        </div>
        {% for ab in blog_category %}
        <div class="d-flex align-items-center">
          <a href="{% url 'userapp:blog' %}?category={{ab.id}}" {% if category_id == ab.id %} class="active" {% endif %}><label for="{{ab.name}}">{{ab.name}}</label></a>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Blogs -->
    <div class="row g-4">
      <!-- Blog Card 1 -->
      {% for ab in blogs %}
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'userapp:blog_detail' ab.slug  %}">
          <div class="card shadow-sm h-100 rounded-0">
            {% if ab.image %}
            <img src="{{ab.image.url}}" class="card-img-top rounded-0" alt="Blog Image">
            {% else %}
            <img src="{% static 'userapp/images/blog1.jpg' %}" class="card-img-top rounded-0" alt="Blog Image">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title fw-semibold">{{ab.title}}</h5>
              <p class="card-text text-muted small">
                {{ab.description|safe|truncatechars:200}}...Read More
              </p>
            </div>
            <div class="card-footer bg-white border-0 pt-0">
              <ul class="list-inline small text-muted d-flex justify-content-between mb-0">
                <li class="list-inline-item">
                  <i class="far fa-calendar-alt me-1"></i> {{ab.date|date:'d M, Y'}}
                </li>
                <li class="list-inline-item">
                  <i class="far fa-user me-1"></i> {{ab.author}}
                </li>
                <li class="list-inline-item">
                  <i class="far fa-comments me-1"></i> 38
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
      {% comment %} <!-- Blog Card 2 -->
      <div class="col-md-6 col-lg-4">
        <a href="Blog_Detail.html">
          <div class="card shadow-sm h-100 rounded-0">
            <img src="{% static 'userapp/images/blog2.jpg' %}" class="card-img-top rounded-0" alt="Blog Image">
            <div class="card-body">
              <h5 class="card-title fw-semibold">Website Development</h5>
              <p class="card-text text-muted small">
                Exercitation ullamco laboris nisi ut aliquip ex ea commodo.
              </p>
            </div>
            <div class="card-footer bg-white border-0 pt-0">
              <ul class="list-inline small text-muted d-flex justify-content-between mb-0">
                <li class="list-inline-item">
                  <i class="far fa-calendar-alt me-1"></i> 25 Jun, 2025
                </li>
                <li class="list-inline-item">
                  <i class="far fa-user me-1"></i> User
                </li>
                <li class="list-inline-item">
                  <i class="far fa-comments me-1"></i> 68
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      <!-- Blog Card 3 -->
      <div class="col-md-6 col-lg-4">
        <a href="Blog_Detail.html">
          <div class="card shadow-sm h-100 rounded-0">
            <img src="{% static 'userapp/images/blog1.jpg' %}" class="card-img-top rounded-0" alt="Blog Image">
            <div class="card-body">
              <h5 class="card-title fw-semibold">Software Development</h5>
              <p class="card-text text-muted small">
                Exercitation ullamco laboris nisi ut aliquip ex ea commodo.
              </p>
            </div>
            <div class="card-footer bg-white border-0 pt-0">
              <ul class="list-inline small text-muted d-flex justify-content-between mb-0">
                <li class="list-inline-item">
                  <i class="far fa-calendar-alt me-1"></i> 16 May, 2025
                </li>
                <li class="list-inline-item">
                  <i class="far fa-user me-1"></i> User
                </li>
                <li class="list-inline-item">
                  <i class="far fa-comments me-1"></i> 58
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div> {% endcomment %}
    </div>
    <!-- Pagination -->
    {% comment %} <div class="pagination d-flex justify-content-center mt-4">
      <ul class="d-flex align-items-center rounded-pill"> <!--pages or li are comes from javascript --> </ul>
    </div> {% endcomment %}
  </section>
  <!-- Section 2 End -->


{% endblock %}