{% extends 'userapp/master.html' %}
{% load static %} 
{% block content %}

    <!-- Section 1 Hero Section Start -->
    <div class="container-fluid position-relative p-0">
        <div class="header-section">
            <div class="header-content">
                <h1>Career</h1>
                <p>Looking for a job? Join us and take the next step toward a brighter future!</p>
            </div>
        </div>
    </div>
    <!-- Section 1 Hero Section End -->

    <!-- Section 2 Start -->
    <section class="benefit-section py-5">
  <div class="container">
    <h1 class="fw-bold mb-4 text-blue text-center">Perks & Benefits With Us</h1>
    <div class="row g-4">
      
      <div class="col-md-6 col-lg-3">
        <div class="benefit-card">
          <i class="fas fa-clock benefit-icon"></i>
          <div class="benefit-text">Flexible working hours</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="benefit-card">
          <i class="fas fa-calendar-alt benefit-icon"></i>
          <div class="benefit-text">5 Days Working</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="benefit-card">
          <i class="fas fa-people-roof benefit-icon"></i>
          <div class="benefit-text">Friendly work Environment</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="benefit-card">
          <i class="fas fa-plane-departure benefit-icon"></i>
          <div class="benefit-text">Annual trip and celebrations</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="benefit-card">
          <i class="fas fa-people-group benefit-icon"></i>
          <div class="benefit-text">Team building activities</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="benefit-card">
          <i class="fas fa-graduation-cap benefit-icon"></i>
          <div class="benefit-text">Learning opportunities</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="benefit-card">
          <i class="fas fa-certificate benefit-icon"></i>
          <div class="benefit-text">Support for certifications</div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="benefit-card">
          <i class="fas fa-baby benefit-icon"></i>
          <div class="benefit-text">Maternity and paternity leave</div>
        </div>
      </div>

    </div>
  </div>
</section>
    <!-- Section 2 End -->
     
    <!-- Section 3 start -->
     <div class="container py-5">
 <h1 class="fw-bold mb-4 text-blue text-center">Current Openings</h1>

  <div class="d-grid gap-3 px-5 mx-5">

    <div class="job-card">
      <div class="job-info">
        <h3>Senior Web Designer</h3>
        <p>Seattle, WA</p>
      </div>
      <button class="btn btn-outline-dark-rounded">Apply</button>
    </div>

    <div class="job-card">
      <div class="job-info">
        <h3>Front-End Engineer</h3>
        <p>New York, NY</p>
      </div>
      <button class="btn btn-outline-dark-rounded">Apply</button>
    </div>

    <div class="job-card">
      <div class="job-info">
        <h3>UI/UX Designer</h3>
        <p>Los Angeles, CA</p>
      </div>
      <button class="btn btn-outline-dark-rounded">Apply</button>
    </div>

    <div class="job-card">
      <div class="job-info">
        <h3>Web Developer</h3>
        <p>Los Angeles, CA</p>
      </div>
      <button class="btn btn-outline-dark-rounded">Apply</button>
    </div>

    <div class="job-card">
      <div class="job-info">
        <h3>Web Designer & Developer</h3>
        <p>Seattle, WA</p>
      </div>
      <button class="btn btn-outline-dark-rounded">Apply</button>
    </div>

  </div>
</div>
    <!-- Section 3 End -->

    <!-- Section 4 Start -->

    <!-- Section 4 End -->

    <!-- Section 4 Start -->
    
    <!-- Section 4 End -->


    <!-- Section 5 Start -->

    <!-- Section 5 End -->

    <!-- Section 6 Start -->

    <!-- Section 6 End -->

    <!-- Section 7 Start -->
    <section class="container newsletter-section position-relative overflow-hidden py-5 rounded-4 mt-5">
        <div class="container">
            <div class="newsletter-content text-center py-5 px-4">
                <h1 class="newsletter-title text-white fw-bold">
                    Let’s work together and make something great!
                </h1>
                <div class="mt-4 mt-md-0">
                    <a href="{% url 'userapp:contact' %}" class="btn bg-light px-4 py-2 newslatter-button">Let's Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 7 End -->

    <!-- Section 10  Start Contact Us -->
    <div class="container-md py-5">
    <div class="d-flex flex-column align-items-center">
      <h1 class="fw-bold mb-4 text-blue text-center">Apply Now</h1>
      <p class="mb-0 text-center" style="max-width: 500px;">Ready to grow your career? Join us and take the next big step in your journey!</p>
    </div>
    <div class="row">
      <div class="col-lg-5 col-sm-12 d-flex flex-column justify-content-center align-items-start">
        <img src="{% static 'userapp/images/Techverse.svg' %}" alt="Contact Us" class="w-100">
      </div>
      <div class="col-lg-7 col-sm-12">
        <div class="contact-form">
          <form>
            <div class="row mb-4">
              <div class="col-md-6">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-6">
                <label class="form-label">Years of Experience</label>
                <input type="number" class="form-control" placeholder="">
              </div>
              <div class="col-md-6">
                <label class="form-label">Select Position</label>
                <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value="">Senior Web Designer</option>
                    <option value="">Front-End Engineer</option>
                    <option value="">UI/UX Designer</option>
                    <option value="">Web Developer</option>
                    <option value="">Web Designer & Developer</option>
                </select>
                <!-- <input type="email" class="form-control" placeholder=""> -->
              </div>
            </div>
            <!-- <div class="mb-4">
              <div class="range">
                <label class="form-label">Project Budget <span class="fw-bold">$</span><span id="budgetValue"
                    class="fw-bold">5500</span> </label>
                <input type="range" min="1000" max="10000" id="budgetRange" />
              </div>
            </div> -->
            <div class="mb-4">
              <label class="form-label">Upload C.V</label>
              <input type="file" class="form-control" placeholder="">

            </div>
            <div class="mb-4">
              <label class="form-label">Message</label>
              <textarea class="form-control" rows="4" placeholder="Start typing here..."></textarea>
            </div>
            <button type="submit" class="btn neon-button text-white px-4">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!-- Section 10  End Contact Us -->

{% endblock %}