{% extends 'userapp/master.html' %}
{% load static %} 
{% block content %}
{% load custom_filters %}

  <!-- Section 1 Hero Section Start -->
  <img src="{% static 'userapp/images/herobg.png' %}" alt="" class="herobg img-fluid">
  <div class="container position-relative mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="h-100 d-flex flex-column justify-content-center text-blue">
          <h1 class="fw-bold mb-3 mt-5 mt-sm-0">We Provide IT Solutions</h1>
          <p class="mb-3 fw-semibold">
            We help businesses grow with quick and simple solutions. Our services include mobile apps, website development, design, software, digital marketing, AI/ML, and full-stack development.
          </p>
          <div><a href="{% url 'userapp:contact' %}" class="btn neon-button text-white px-3 py-2">Get in Touch</a></div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="{% static 'userapp/images/heroimg.svg' %}" alt="" class="img-fluid mt-5">
      </div>
    </div>
  </div>
  <!-- Section 1 Hero Section End -->

  <!-- Section 2 About Section Start -->
  <div class="container py-5">
    <div class="row">
      <!-- Image column -->
      <div class="col-md-6 text-center order-1 order-md-0">
        <img src="{% static 'userapp/images/aboutimg.svg' %}" alt="" class="img-fluid mt-5">
      </div>
      
      <!-- Content column -->
      <div class="col-md-6 order-0 order-md-1">
        <div class="h-100 d-flex flex-column justify-content-center text-blue">
          <h1 class="fw-bold mb-3">We Help Businesses Reach Goals with Support</h1>
          <p class="mb-3">At TechVerse, we help businesses grow with smart and simple digital solutions. Our
            services include mobile app development, web development, website design, software development, digital
            marketing, AI/ML, and full-stack development. Whether you’re starting fresh or improving an existing system,
            we use the right tools to fit your needs.</p>
          <p class="mb-3">We work with all types of clients—startups, small businesses, large companies, and
            digital agencies. We listen to your goals, create a clear plan, and deliver quality results. Every project
            is focused on your success and business growth.</p>
          <div><a href="{% url 'userapp:useraboutus' %}" class="btn neon-button text-white px-3 py-2">About Us</a></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section 2 About Section End -->


  <!-- Section 3 About Section Start -->
   <!-- Section 3 Start -->
  <div class="container py-5">
    <div class="row align-items-center mb-4">
      
      <!-- Left Stats -->
      <div class="col-lg-6 mh-100">
        
        <!-- CTA Section -->
        <div class="cta-box mt-4 text-center text-lg-start mh-100">
          <h4 class="fw-bold">Who We Are?</h4>
          <p class="mb-2">TechVerse is an ISO-certified software development company delivering top-notch IT solutions to clients around the globe. From web and mobile app development to AI/ML and full-scale software services — we do it all.</p>
          <p class="mb-2">Our team is a tight-knit group of problem-solvers, dedicated to building smart, scalable, and efficient solutions that actually move the needle. Quality isn’t just a checkbox for us — it’s at the core of everything we deliver.</p>
          <p class="mb-2">We proudly serve industries like business, finance, healthcare, hospitality, education, travel, and automotive — helping brands grow, adapt, and lead in the digital age. </p>
          <!-- <p class="mb-2">At TechVerse, quality is our top priority. We provide innovative IT solutions for industries like business, finance, healthcare, hospitality, education, travel, and automotive, helping businesses grow and succeed.</p> -->
          <a href="{% url 'userapp:contact' %}">➜ Hire Developers</a>
        </div>
      </div>

      <!-- Right Image -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="{% static 'userapp/images/tv.svg' %}" alt="Woman with laptop" class="img-fluid rounded">
      </div>
    </div>
  </div>
  <!-- Section 3 End -->
  <!-- Section 3 About Section End -->



  <!-- Section 4 Start -->
  <div class="container my-5 text-center">
    <h1 class="fw-bold mb-3 text-blue">Our Services</h1>
    <h6 class="text-muted mb-4">We help our partners drive fast change and growth.</h6>

    <div class="row">
      

      <!-- Right Content -->
      <div class="col-md-7">
        <div class="tab-content">
          <div class="tab-pane fade show active text-center" id="service1">
            <img src="{% static 'userapp/images/mobile.svg' %}" alt="Mobile App" class="img-fluid service-image mb-3">
            <h4 class="fw-semibold text-blue">Mobile App Development</h4>
            <p>We build custom mobile apps for Android and iOS that provide easy and seamless user experiences. Our apps help businesses engage with customers, increase reach, and improve accessibility, driving growth while meeting specific business needs and ensuring a great user experience.</p>
          </div>
          <div class="tab-pane fade text-center" id="service2">
            <img src="{% static 'userapp/images/website.svg' %}" alt="Website Development" class="img-fluid service-image mb-3">
            <h4 class="fw-semibold text-blue">Website Development</h4>
            <p>We create websites that are responsive, secure, and easy to use, working smoothly on all devices. Our websites are designed to attract customers, enhance online presence, and boost conversions, offering modern designs, fast loading speeds, and strong functionality tailored to your business goals.</p>
          </div>
          <div class="tab-pane fade text-center" id="service3">
            <img src="{% static 'userapp/images/software.svg' %}" alt="Software Development" class="img-fluid service-image mb-3">
            <h4 class="fw-semibold text-blue">Software Development</h4>
            <p>We make custom software to make business work easier, improve efficiency, and help it grow. Our team focuses on building reliable, scalable applications that are tailored to your needs, helping streamline operations and solve challenges while enhancing overall performance.</p>
          </div>
          <div class="tab-pane fade text-center" id="service4">
            <img src="{% static 'userapp/images/aiml.svg' %}" alt="AI/ML Development" class="img-fluid service-image mb-3">
            <h4 class="fw-semibold text-blue">AI/ML Development</h4>
            <p>We make custom software to make business work easier, improve efficiency, and help it grow. Our team focuses on building reliable, scalable applications that are tailored to your needs, helping streamline operations and solve challenges while enhancing overall performance.</p>
          </div>
          <div class="tab-pane fade text-center" id="service5">
            <img src="{% static 'userapp/images/marketing.svg' %}" alt="Digital Marketing" class="img-fluid service-image mb-3">
            <h4 class="fw-semibold text-blue">Digital Marketing</h4>
            <p>We offer digital marketing services, including SEO, social media, and content marketing, to help businesses reach the right audience and grow their online presence. Our strategies increase brand visibility, engage customers, and drive traffic, ultimately converting leads into long-term sales and success.</p>
          </div>
          <div class="tab-pane fade text-center" id="service6">
            <img src="{% static 'userapp/images/full-stack.svg' %}" alt="Full Stack Development" class="img-fluid service-image mb-3">
            <h4 class="fw-semibold text-blue">Full Stack Development</h4>
            <p>We do full-stack development, building the front and back parts of websites and apps. Our team creates scalable, secure, and intuitive solutions that ensure seamless user experiences, offering end-to-end services to help your business grow and succeed in the digital world.</p>
          </div>
        </div>
      </div>

      <!-- Left Tab Menu -->
      <div class="col-md-5 mb-4 mb-md-0">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
          <button class="my-1 w-100 p-3 rounded nav-link active" data-bs-toggle="pill" data-bs-target="#service1">1. Mobile App Development </button>
          <button class="my-1 w-100 p-3 rounded nav-link " data-bs-toggle="pill" data-bs-target="#service2">2. Website Development </button>
          <button class="my-1 w-100 p-3 rounded nav-link " data-bs-toggle="pill" data-bs-target="#service3">3. Software Development </button>
          <button class="my-1 w-100 p-3 rounded nav-link " data-bs-toggle="pill" data-bs-target="#service4">4. AI/ML Development</button>
          <button class="my-1 w-100 p-3 rounded nav-link " data-bs-toggle="pill" data-bs-target="#service5">5. Digital Marketing</button>
          <button class="my-1 w-100 p-3 rounded nav-link " data-bs-toggle="pill" data-bs-target="#service6">6 Full Stack Development</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Section 4 End -->

  <!-- Section 5 Start -->
  <section class="py-5">
    <div class="container-fluid text-center">
      <h1 class="fw-bold mb-3 text-blue">AI Use Cases</h1>
      <p>Our AI and ML Development Services</p>
      <div class="row">
        
        <!-- Right Description Boxes -->
        <div class="col-md-6 bg-primary1 text-white p-0">
          <div class="row h-100 g-0">
            {% for ab in ai_category %}
            <div class="col-6 d-flex align-items-center justify-content-center border p-3">
              <div>
                <a href="{% url 'userapp:ai_detail' ab.slug %}" style="color:white;">
                  <h4 class="fw-bold">{{ab.name}}</h4>
                  <p class="mb-0">{{ab.description|safe}}</p>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>


        <div class="col-md-6">
          <div class="circle-container">
            <div class="center-ai">
              <img src="{% static 'userapp/images/AI-for.svg' %}" alt="AI Core" class="img-fluid" />
            </div>
            {% for ab in ai_category %}
            <div class="circle-item item-{{forloop.counter}}">{{ab.name}}</div>
            {% endfor %}
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </section>
  <!-- Section 5 End -->

  <!-- Section 6 Start -->
  <section class="text-center position-relative py-5">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="row g-4">
            <!-- Core Value 1 -->
            <div class="col-md-6 col-lg-4">
              <!-- <div class="core-value-box">
            <i class="fas fa-user-check core-value-icon"></i>
            <p class="core-value-title">Focus on Clients</p>
          </div> -->
            </div>
            <!-- Core Value 1 -->
            <div class="col-md-6 col-lg-4">
              <!-- <div class="core-value-box">
            <i class="fas fa-user-check core-value-icon"></i>
            <p class="core-value-title">Focus on Clients</p>
          </div> -->
            </div>
            <!-- Core Value 1 -->
            <div class="col-md-6 col-lg-4">
              <div class="core-value-box">
                <i class="fas fa-user-check core-value-icon"></i>
                <p class="core-value-title">Focus on Clients</p>
              </div>
            </div>
            <!-- Core Value 2 -->
            <div class="col-md-6 col-lg-4">
              <!-- <div class="core-value-box">
            <i class="fas fa-lightbulb core-value-icon"></i>
            <p class="core-value-title">Creativity and Quality</p>
          </div> -->
            </div>
            <!-- Core Value 2 -->
            <div class="col-md-6 col-lg-4">
              <div class="core-value-box">
                <i class="fas fa-lightbulb core-value-icon"></i>
                <p class="core-value-title">Creativity and Quality</p>
              </div>
            </div>
            <!-- Core Value 3 -->
            <div class="col-md-6 col-lg-4">
              <div class="core-value-box">
                <i class="fas fa-handshake core-value-icon"></i>
                <p class="core-value-title">Honesty and Openness</p>
              </div>
            </div>
            <!-- Core Value 4 -->
            <div class="col-md-6 col-lg-4">
              <div class="core-value-box">
                <i class="fas fa-chart-line core-value-icon"></i>
                <p class="core-value-title">High-Quality Results</p>
              </div>
            </div>
            <!-- Core Value 5 -->
            <div class="col-md-6 col-lg-4">
              <div class="core-value-box">
                <i class="fas fa-people-arrows core-value-icon"></i>
                <p class="core-value-title">Teamwork and Cooperation</p>
              </div>
            </div>
            <!-- Core Value 6 -->
            <div class="col-md-6 col-lg-4">
              <div class="core-value-box">
                <i class="fas fa-seedling core-value-icon"></i>
                <p class="core-value-title">Dedication to Growth</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center ">
          <h1 class="fw-bold mb-3 text-blue">Our Core Values</h1>
          <p class="text-muted mb-5 ">
            At TechVerse, our core values guide every project we take on. <br>
            They guide how we work, solve problems, and deliver results. These values help us stay focused, do our best,
            and build strong trust with our clients.
          </p>
        </div>
      </div>

      <!-- Optional: AI robot illustration -->
      <div>
        <img src="{% static 'userapp/images/hand-ai.svg' %}" alt="AI Robot" class="robot-img d-none d-sm-block" />
      </div>
    </div>
  </section>
  <!-- Section 6 End -->

  <h1 class="fw-bold mb-3 text-blue text-center">Industries We Serve</h1>
  <div class="container-fluid bg-primary1 text-center">
      <div class="row">
        <div class="col-md-4 p-3  d-flex align-items-center justify-content-center">
          <div class="row h-100 w-100">
            {% for ab in industry_category|split_half:"first" %}
            <div class="col-md-6 d-flex justify-content-center flex-column align-items-center p-0">
              <div class="industry-box">
                <a href="{% url 'userapp:industry_detail' ab.id %}">
                  <i class="{{ab.icon}}"></i>
                  <p class="industry-title">{{ab.name}}</p>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-4  d-flex align-items-center justify-content-center" >
          <img src="{% static 'userapp/images/tv.svg' %}" alt="" class="img-fluid" style="height: 450px;">
        </div>
        <div class="col-md-4 p-3 d-flex align-items-center justify-content-center">
          <div class="row h-100 w-100">
            {% for ab in industry_category|split_half:"second" %}
            <div class="col-md-6 d-flex justify-content-center flex-column align-items-center p-0">
              <div class="industry-box">
                <a href="{% url 'userapp:industry_detail' ab.id %}">
                  <i class="{{ab.icon}}"></i>
                  <p class="industry-title">{{ab.name}}</p>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
  

  <!-- Section tech start -->
  <section class=" text-center py-5">
    <h1 class="fw-bold mb-3 text-blue">Technologies and Platforms We Use</h1>
    <div class="tabs">
      <div class="tab" onclick="showTab('frontend', this)">Frontend</div>
      <div class="tab" onclick="showTab('backend',this)">Backend</div>
      <div class="tab" onclick="showTab('mobile',this)">Mobile</div>
      <div class="tab" onclick="showTab('database',this)">Database</div>
      <div class="tab" onclick="showTab('frameworks',this)">Frameworks</div>
      <div class="tab" onclick="showTab('cloud',this)">Cloud</div>
      <div class="tab" onclick="showTab('devops',this)">DevOps</div>
      <div class="tab" onclick="showTab('ecommerce',this)">Ecommerce</div>
      <div class="tab" onclick="showTab('cms',this)">CMS</div>
      <div class="tab" onclick="showTab('platforms',this)">Platforms</div>
    </div>

    <div id="tabContent" class="tech-grid"></div>
  </section>
  <!-- Section tech end -->

  <!-- process start  -->
  <section class="process-section text-center">
    <div class="container">
      <h2 class="fw-bold mb-3 text-blue">Process of Build App</h2>
      <p class="mb-5">Delivering work within time and budget which meets client's requirements is our moto.</p>


      <div class="timeline py-5">

        <div class="process-box top-step">
          <div class="step-icon"><i class="fas fa-handshake"></i></div>
          <div class="step-label">Initial Meeting</div>
          <div class="circle mb-0">1</div>
        </div>

        <div class="process-box bottom-step">
          <div class="circle mt-0">2</div>
          <div class="step-icon"><i class="fas fa-file-alt"></i></div>
          <div class="step-label">Evaluation & Planning</div>
        </div>

        <div class="process-box top-step">
          <div class="step-icon"><i class="fas fa-code"></i></div>
          <div class="step-label">Design & Development</div>
          <div class="circle mb-0">3</div>
        </div>

        <div class="process-box bottom-step">
          <div class="circle mt-0">4</div>
          <div class="step-icon"><i class="fas fa-thumbs-up"></i></div>
          <div class="step-label">Quality Testing</div>
        </div>

        <div class="process-box top-step">
          <div class="step-icon"><i class="fas fa-cogs"></i></div>
          <div class="step-label">Maintenance & Enhancement</div>
          <div class="circle mb-0">5</div>
        </div>

        <div class="process-box bottom-step">
          <div class="circle mt-0">6</div>
          <div class="step-icon"><i class="fas fa-envelope"></i></div>
          <div class="step-label">Delivery</div>
        </div>

      </div>
    </div>
  </section>

  <!-- process end -->

  <!-- Section Blog Start -->
  <section class="container newsletter-section position-relative overflow-hidden py-5 rounded-4 mt-5">
    <div class="container">
      <div class="newsletter-content d-flex justify-content-center align-items-center flex-column py-5 px-4">
        <h1 class="newsletter-title text-white text-center fw-bold w-75 mb-5">
          Start Your App Journey With Expert Solutions and Seamless Experiences
        </h1>
        <div class="mt-4 mt-md-0">
          <a href="{% url 'userapp:contact' %}" class="btn bg-light px-4 py-2 newslatter-button">Let's Get Started</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Section 7 End -->

  <!-- Section 9 Start -->
  <section class="py-5 mt-5">
    <div class="container">
      <h1 class="text-center text-blue fw-bold mb-5">Latest Blogs</h1>
      <div class="row g-4">

        <!-- Blog Card 1 -->
        {% for ab in blogs %}
        <div class="col-md-6 col-lg-4">
          <a href="{% url 'userapp:blog_detail' ab.slug %}">
            <div class="card shadow-sm h-100 rounded-0">
              {% if ab.image %}
              <img src="{{ab.image.url}}" class="card-img-top rounded-0" alt="Blog Image">
              {% else %}
              <img src="{% static 'userapp/images/blog1.jpg' %}" class="card-img-top rounded-0" alt="Blog Image">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title fw-semibold">{{ab.title}}</h5>
                <p class="card-text text-muted small">
                  {{ab.description|safe|slice:':200'}}....
                </p>
              </div>
              <div class="card-footer bg-white border-0 pt-0">
                <ul class="list-inline small text-muted d-flex justify-content-between mb-0">
                  <li class="list-inline-item">
                    <i class="far fa-calendar-alt me-1"></i> {{ab.date|date:'d M, Y'}}
                  </li>
                  <li class="list-inline-item">
                    <i class="far fa-user me-1"></i> {{ab.author}}
                  </li>
                  <li class="list-inline-item">
                    <i class="far fa-comments me-1"></i> 38
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        

      </div>
    </div>
  </section>
  <!-- Section 9 End -->

  <!-- Section testimonial Start -->
  <div class="container py-5">
    <h2 class="text-start mb-3 mb-md-5 text-blue fw-bold fs-2">What Our Clients Says</h2>
    <div class="owl-carousel owl-theme">
      <!-- Testimonial 1 -->
      <div class="card shadow-sm rounded-0 testimonial-card position-relative">
        <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
          style="top: 10px; right: 20px;"></i>
        <div class="card-body">
          
          <p class="mt-5">Working with their AI and ML team transformed our business. Their solutions are smart, scalable, and incredibly effective. We saw real results faster than expected. Highly recommended!</p>
          <div class="star-rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle" style="width: 40px; height: 40px;">
            <div class="d-flex flex-column text">
              <span class="mb-0 fw-bold">Emily Carter</span>
              <span style="font-size: 12px;">CEO</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial 2 -->
      <div class="card shadow-sm rounded-0 testimonial-card position-relative">
        <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
          style="top: 10px; right: 20px;"></i>
        <div class="card-body">
          <p class="mt-5">Working with this team was a game-changer for our business. Their full stack development expertise delivered beyond expectations. Highly recommend!</p>
          <div class="star-rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle" style="width: 40px; height: 40px;">
            <div class="d-flex flex-column text">
              <span class="mb-0 fw-bold">Lucas M.</span>
              <span style="font-size: 12px;">Co-Founder</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial 3 -->
      <div class="card shadow-sm rounded-0 testimonial-card position-relative">
        <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
          style="top: 10px; right: 20px;"></i>
        <div class="card-body">
          <p class="mt-5">Our iOS app turned out better than we imagined. The team was responsive, skilled, and professional throughout the project. Delivered on time and exceeded expectations.
          </p>
          <div class="star-rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle" style="width: 40px; height: 40px;">
            <div class="d-flex flex-column text">
              <span class="mb-0 fw-bold">James T.</span>
              <span style="font-size: 12px;">CEO</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial 4 -->
      <div class="card shadow-sm rounded-0 testimonial-card position-relative">
        <i class="fa-solid fa-quote-right position-absolute display-5 opacity-25 text-blue"
          style="top: 10px; right: 20px;"></i>
        <div class="card-body">
          <p class="mt-5">TechVerse delivered exactly what we needed. From concept to launch, everything was seamless. Their team understood healthcare requirements perfectly.</p>
          <div class="star-rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <img src="{% static 'userapp/images/user-1.jpg' %}" alt="User 1" class="rounded-circle" style="width: 40px; height: 40px;">
            <div class="d-flex flex-column text">
              <span class="mb-0 fw-bold">Sarah M.</span>
              <span style="font-size: 12px;">IT Director</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section testimonial End -->

  <!-- Section 10  Start Contact Us -->
  <div
    class="container-fluid d-flex flex-column align-items-center justify-content-center contact-us-section py-4 py-md-0">
    <h2 class="text-center mb-3 mb-md-5 text-blue fw-bold fs-2">Get in Touch</h2>
    <div class="container ">
      <div class="row ">
        <div class="col-lg-6 col-sm-12 contact-left mb-0 mb-sm-5">
          <p class="mb-3" style="max-width: 500px;">
            Get in touch to discuss your development needs. At TechVerse, we provide reliable web and app
            development solutions, delivering creative, efficient, and tailored services to help your
            business
            grow and succeed.
          </p>
          <div class="mb-3 border-left border-4 ps-3 py-3 d-flex justify-content-start align-items-center gap-3">
            <i class="fa fa-location-dot text-blue"></i>
            <div>
              <span class="fw-bold">Location:</span><br>
              <span>S. Hill Street Suite 1313 Los Angeles,<br>CA 90013 United States CA 90013 United States.</span>
            </div>
          </div>
          <div class="mb-3 border-left border-4 ps-3 py-3 d-flex justify-content-start align-items-center gap-3">
            <i class="fa fa-phone text-blue"></i>
            <div>
              <span class="fw-bold"> Call Us:</span>
              <span>+91 9081431434</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 contact-right">
          <form method="post" action="{% url 'userapp:contact' %}">
            {% csrf_token %} 
            <div class="row mb-4">
              <div class="col-md-6">
                <label class="form-label">First Name</label>
                <input type="text" name="first_name" class="form-control" placeholder="" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control" placeholder="">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-6">
                <label class="form-label">Company</label>
                <input type="text" name="company" class="form-control" placeholder="">
              </div>
              <div class="col-md-6">
                <label class="form-label">Email Address</label>
                <input type="email" name="email" class="form-control" placeholder="" required>
              </div>
            </div>
            
            <div class="mb-4">
              <label class="form-label">Subject</label>
              <input type="text" name="subject" class="form-control" placeholder="">

            </div>
            <div class="mb-4">
              <label class="form-label">Message</label>
              <textarea class="form-control" name="message" rows="4" ></textarea>
            </div>
            <button type="submit" class="btn neon-button text-white py-3">Submit Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Section 10  End Contact Us -->
  
{% endblock %}