{% extends 'userapp/master.html' %}
{% load static %} 
{% block content %}

    <!-- Section 1 Hero Section Start -->
    <div class="container-fluid position-relative p-0">
        <div class="header-section">
            <div class="header-content">
                <h1>Industries</h1>
                <p>We Bring Expert IT Solutions Tailored To Your Specific Industry</p>
            </div>
        </div>
    </div>
    <!-- Section 1 Hero Section End -->

    <!-- Section 2 Start -->
    <!-- Section 1 Industry We Serve Title -->
    <div class="container py-5 d-flex flex-column align-items-center ">
        <h1 class="fw-bold mb-3 text-blue text-center mx-5">Leading IT Company Delivering Industry-Specific Solutions
        </h1>
       <p class="mb-4 text-center" style="line-height: 30px;">At TechVerse, we deliver cutting-edge IT solutions designed to meet the unique needs of diverse industries. We understand that every industry faces different challenges, so we craft tailored, scalable, and efficient technology services to help businesses grow and innovate. Our team of skilled professionals is committed to providing end-to-end support, from strategy to implementation. Whether it’s healthcare, finance, retail, or manufacturing, TechVerse partners with you to drive success through smart technology. We don’t just build solutions — we build lasting partnerships. With TechVerse, your industry is empowered to thrive in an ever-evolving digital world.</p>
    </div>
    <!-- Section 1 Industry We Serve Title -->
     <!-- Section 2 Start -->
    <div class="container py-5">
        <h1 class="fw-bold mb-5 text-blue text-center">Technology Solutions for Every Industry</h1>
        <div class="row">
            {% for ab in industry_category %}
            <style>
                .service-card-{{forloop.counter}} {
                    background: url({% if ab.image %} {{ab.image.url}} {% endif %});
                }
            </style>
            <div class="col-md-3 col-sm-6 p-2">
                <div class="service-card service-card-{{forloop.couter}}" style="height: 300px;">
                    <div class="service-card-info w-75">
                        <h1>{{ab.name}}</h1>
                        <a href="{% url 'userapp:industry_detail' ab.slug %}" class="btn fs-5 mt-5 border border-white rounded-pill">Learn More <i class="fa fa-arrow-right ps-2"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    </div>

    <!-- Section 2 End -->
    <!-- Section 3 start -->
    <!-- Section tech start -->
  <section class="container text-center py-5">
    <h1 class="fw-bold mb-3 text-blue">Technologies and Platforms We Use</h1>
    <div class="tabs">
      <div class="tab" onclick="showTab('frontend', this)">Frontend</div>
      <div class="tab" onclick="showTab('backend',this)">Backend</div>
      <div class="tab" onclick="showTab('mobile',this)">Mobile</div>
      <div class="tab" onclick="showTab('database',this)">Database</div>
      <div class="tab" onclick="showTab('frameworks',this)">Frameworks</div>
      <div class="tab" onclick="showTab('cloud',this)">Cloud</div>
      <div class="tab" onclick="showTab('devops',this)">DevOps</div>
      <div class="tab" onclick="showTab('ecommerce',this)">Ecommerce</div>
      <div class="tab" onclick="showTab('cms',this)">CMS</div>
      <div class="tab" onclick="showTab('platforms',this)">Platforms</div>
    </div>

    <div id="tabContent" class="tech-grid"></div>
  </section>
  <!-- Section tech end -->
    <!-- Section 3 End -->

    <!-- Section 4 Start -->
    <div class="container-fluid py-5 aboutcontainer">
      <h1>We Help Businesses Work Better and Grow Faster</h1>
    </div>
    <!-- Section 4 End -->

    <!-- process start  -->
    <section class="process-section text-center">
        <div class="container">
            <h2 class="fw-bold mb-3 text-blue text-center mx-5">Our Working Process</h2>
            <p class="mb-5">We follow clear steps to build the right industry solution.</p>
            <div class="timeline py-5">

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-handshake"></i></div>
                    <div class="step-label">Ideation</div>
                    <div class="circle mb-0">1</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">2</div>
                    <div class="step-icon"><i class="fas fa-file-alt"></i></div>
                    <div class="step-label">Plan</div>
                </div>

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-code"></i></div>
                    <div class="step-label">Design</div>
                    <div class="circle mb-0">3</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">4</div>
                    <div class="step-icon"><i class="fas fa-thumbs-up"></i></div>
                    <div class="step-label">Implement</div>
                </div>

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-cogs"></i></div>
                    <div class="step-label">Test</div>
                    <div class="circle mb-0">5</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">6</div>
                    <div class="step-icon"><i class="fas fa-envelope"></i></div>
                    <div class="step-label">Launch</div>
                </div>

            </div>
        </div>
    </section>

    <!-- process end -->

    <!-- Section 7 Start -->
    <section class="container newsletter-section position-relative overflow-hidden py-5 rounded-4 my-5">
        <div class="container">
            <div class="newsletter-content text-center py-5 px-4">
                <h1 class="newsletter-title text-white fw-bold">
                    We Help Businesses Work Better with Easy Technology
                </h1>
                <div class="mt-4 mt-md-0">
                    <a href="{% url 'userapp:contact' %}" class="btn bg-light px-4 py-2 newslatter-button">Let's Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 7 End -->


{% endblock %}