{% extends 'userapp/master.html' %}
{% load static %} 
{% block content %}

    <!-- Section 1 Hero Section Start -->
    <div class="container-fluid position-relative p-0">
        <div class="header-section">
            <div class="header-content">
                <h1>Portfolio</h1>
                <p>Our projects are more than just a list — they show our hard work and care.</p>
            </div>
        </div>
    </div>
    <!-- Section 1 Hero Section End -->

    <!-- Section 2 Start -->
    <div class="container-fluid d-flex justify-content-center flex-column py-5">
        <h1 class="mb-3 text-blue fw-bold text-center">Our Projects</h1>
        <div class="container">
            <div class="row">
                
                <!-- Filter -->
<div class="filter py-4">
  <div class="filter-options d-flex flex-wrap gap-3 p-3 justify-content-center">

    <div class="d-flex align-items-center">
      <input type="radio" name="category" id="all" class="me-1" checked>
      <label for="all" class="fw-bold category-btn">All</label>
    </div>

    <div class="d-flex align-items-center">
      <input type="radio" name="category" id="mobile" class="me-1">
      <label for="mobile" class="fw-bold category-btn">Mobile App Development</label>
    </div>

    <div class="d-flex align-items-center">
      <input type="radio" name="category" id="website" class="me-1">
      <label for="website" class="fw-bold category-btn">Website Development</label>
    </div>

    <div class="d-flex align-items-center">
      <input type="radio" name="category" id="software" class="me-1">
      <label for="software" class="fw-bold category-btn">Software Development</label>
    </div>

    <div class="d-flex align-items-center">
      <input type="radio" name="category" id="digital" class="me-1">
      <label for="digital" class="fw-bold category-btn">Digital Marketing</label>
    </div>

    <div class="d-flex align-items-center">
      <input type="radio" name="category" id="ai" class="me-1">
      <label for="ai" class="fw-bold category-btn">AI/ML Development</label>
    </div>

    <div class="d-flex align-items-center">
      <input type="radio" name="category" id="data" class="me-1">
      <label for="data" class="fw-bold category-btn">Data Mining</label>
    </div>

  </div>
</div>

                <!-- Portfolio 1 -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2">
                    <div class="card border-0 shadow-sm rounded-0">
                        <div class="card-body p-0">
                            <img src="{% static 'userapp/images/blog1.jpg' %}" alt="Porfolio 1" class="w-100" height="300">
                            <div class="card-content pt-2">
                                <div class="p-3 d-flex flex-column">
                                    <h3 class="h3 fw-bold">Project Name</h3>
                                    <p class="text-blue mb-0" style="font-size: 14px;">Mobile App Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio 2 -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2">
                    <div class="card border-0 shadow-sm rounded-0">
                        <div class="card-body p-0">
                            <img src="{% static 'userapp/images/blog2.jpg' %}" alt="Porfolio 1" class="w-100" height="300">
                            <div class="card-content pt-2">
                                <div class="p-3 d-flex flex-column">
                                    <h3 class="h3 fw-bold">Project Name</h3>
                                    <p class="text-blue mb-0" style="font-size: 14px;">Website Development</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio 3 -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2">
                    <div class="card border-0 shadow-sm rounded-0">
                        <div class="card-body p-0">
                            <img src="{% static 'userapp/images/heroimg.svg' %}" alt="Porfolio 1" class="w-100" height="300">
                            <div class="card-content pt-2">
                                <div class="p-3 d-flex flex-column">
                                    <h3 class="h3 fw-bold">Project Name</h3>
                                    <p class="text-blue mb-0" style="font-size: 14px;">Software Development</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio 4 -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2">
                    <div class="card border-0 shadow-sm rounded-0">
                        <div class="card-body p-0">
                            <img src="{% static 'userapp/images/Techverse.svg' %}" alt="Porfolio 1" class="w-100" height="300">
                            <div class="card-content pt-2">
                                <div class="p-3 d-flex flex-column">
                                    <h3 class="h3 fw-bold">Project Name</h3>
                                    <p class="text-blue mb-0" style="font-size: 14px;">Digital Marketing</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio 5 -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2">
                    <div class="card border-0 shadow-sm rounded-0">
                        <div class="card-body p-0">
                            <img src="{% static 'userapp/images/industry-AI.jpg' %}" alt="Porfolio 1" class="w-100" height="300">
                            <div class="card-content pt-2">
                                <div class="p-3 d-flex flex-column">
                                    <h3 class="h3 fw-bold">Project Name</h3>
                                    <p class="text-blue mb-0" style="font-size: 14px;">AI/ML Development</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio 6 -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2">
                    <div class="card border-0 shadow-sm rounded-0">
                        <div class="card-body p-0">
                            <img src="{% static 'userapp/images/user-1.jpg' %}" alt="Porfolio 1" class="w-100" height="300">
                            <div class="card-content pt-2">
                                <div class="p-3 d-flex flex-column">
                                    <h3 class="h3 fw-bold">Project Name</h3>
                                    <p class="text-blue mb-0" style="font-size: 14px;">Data Mining</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 2 End -->

    <!-- Section 7 Start -->
    <section class="container newsletter-section position-relative overflow-hidden py-5 rounded-4 mt-5">
        <div class="container">
            <div class="newsletter-content text-center py-5 px-4">
                <h1 class="newsletter-title text-white fw-bold">
                    Want to be a leader in your industry? We can help.
                </h1>
                <div class="mt-4 mt-md-0">
                    <a href="#contact" class="btn bg-light px-4 py-2 newslatter-button">Let's Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 7 End -->


{% endblock %}