{% extends 'userapp/master.html' %}
{% load static %} 
{% block content %}

    <!-- Section 1 Hero Section Start -->
    <div class="container-fluid position-relative p-0">
        <div class="header-section">
            <div class="header-content">
                <h1>Services</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, reiciendis!</p>
            </div>
        </div>
    </div>
    <!-- Section 1 Hero Section End -->

    <!-- Section 2 Start -->
    <!-- Section 1 Industry We Serve Title -->
    <div class="container py-5">
        <h2 class="fw-normal display-6">Leading Change and Reinventing Growth for Global Business of Diverse Industries
        </h2>
        <p class="fs-5" style="font-weight: 100;">Techverse Solutions was born out of a vision to develop tech-based
            solutions focused on innovation, quality,
            and personalized services. In today’s ever-changing business environment, most organizations are more than
            willing to adopt digital innovation and transformation solutions that deliver value and sustainability.
            Being a Top IT Consultation company, We solve complex business challenges and deliver mission-critical
            solutions to various clients.</p>
    </div>
    <!-- Section 1 Industry We Serve Title -->
    <!-- Section 2 Start -->
    <div class="container py-5">
        <h1 class="fw-bold mb-5 text-blue text-center">Build Smarter with Techverse</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-card">
                    <div class="service-card-info w-75">
                        <h1>Mobile App Development</h1>
                        <a href="" class="btn fs-5 mt-5 border border-white rounded-pill">Learn More <i class="fa fa-arrow-right ps-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-card">
                    <div class="service-card-info w-75">
                        <h1>Website  Development</h1>
                        <a href="" class="btn fs-5 mt-5 border border-white rounded-pill">Learn More <i class="fa fa-arrow-right ps-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-card">
                    <div class="service-card-info w-75">
                        <h1>AI/ML  Development</h1>
                        <a href="" class="btn fs-5 mt-5 border border-white rounded-pill">Learn More <i class="fa fa-arrow-right ps-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-card">
                    <div class="service-card-info w-75">
                        <h1>Mobile App Development</h1>
                        <a href="" class="btn fs-5 mt-5 border border-white rounded-pill">Learn More <i class="fa fa-arrow-right ps-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-card">
                    <div class="service-card-info w-75">
                        <h1>Website  Development</h1>
                        <a href="" class="btn fs-5 mt-5 border border-white rounded-pill">Learn More <i class="fa fa-arrow-right ps-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-0">
                <div class="service-card">
                    <div class="service-card-info w-75">
                        <h1>AI/ML  Development</h1>
                        <a href="" class="btn fs-5 mt-5 border border-white rounded-pill">Learn More <i class="fa fa-arrow-right ps-2"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>

    <!-- Section 2 End -->
    <!-- Section tech start -->
    <section class="container text-center py-5">
        <h1 class="fw-bold mb-3 text-blue">Technologies and Platforms We Use</h1>
        <div class="tabs">
        <div class="tab" onclick="showTab('frontend', this)">Frontend</div>
        <div class="tab" onclick="showTab('backend',this)">Backend</div>
        <div class="tab" onclick="showTab('mobile',this)">Mobile</div>
        <div class="tab" onclick="showTab('database',this)">Database</div>
        <div class="tab" onclick="showTab('frameworks',this)">Frameworks</div>
        <div class="tab" onclick="showTab('cloud',this)">Cloud</div>
        <div class="tab" onclick="showTab('devops',this)">DevOps</div>
        <div class="tab" onclick="showTab('ecommerce',this)">Ecommerce</div>
        <div class="tab" onclick="showTab('cms',this)">CMS</div>
        <div class="tab" onclick="showTab('platforms',this)">Platforms</div>
        </div>

        <div id="tabContent" class="tech-grid"></div>
    </section>
    <!-- Section tech end -->

    <!-- Section 4 Start -->
    <div class="container-fluid py-5 aboutcontainer">
        <h1>We help Businesses Imporve Their Performances</h1>
    </div>
    <section class="py-5">
        <div class="container">
            <h1 class="fw-bold mb-3 text-center text-blue">Key Benefits</h1>
            <div class="row">
            <!-- Benefit Card 1 -->
            <div class="col-md-6 col-lg-4 p-0">
                <div class="p-4 border-bottom rounded-0 h-100">
                <div class="mb-3 text-blue fs-4">
                    <i class="fas fa-cogs"></i>
                </div>
                <h6 class="fw-bold">Customized Solutions</h6>
                <p class="text-muted small mb-0">
                    We collaborate closely with you to understand your unique challenges and goals, to develop tailored AI/ML models that address your specific needs.
                </p>
                </div>
            </div>

            <!-- Benefit Card 2 -->
            <div class="col-md-6 col-lg-4 p-0">
                <div class="p-4 border border-top-0 rounded-0 h-100">
                <div class="mb-3 text-blue fs-4">
                    <i class="fas fa-bolt"></i>
                </div>
                <h6 class="fw-bold">Enhanced Efficiency</h6>
                <p class="text-muted small mb-0">
                    Repetitive tasks become a thing of the past. Our top AI software automate solutions to free up your team’s valuable time and resources for higher-level pursuits.
                </p>
                </div>
            </div>

            <!-- Benefit Card 3 -->
            <div class="col-md-6 col-lg-4 p-0">
                <div class="p-4 border-bottom rounded-0 h-100">
                <div class="mb-3 text-blue fs-4">
                    <i class="fas fa-chart-line"></i>
                </div>
                <h6 class="fw-bold">Predictive Advantage</h6>
                <p class="text-muted small mb-0">
                    Gain valuable foresight into future trends and customer behaviour. Our models analyze historical data to predict potential risks and opportunities.
                </p>
                </div>
            </div>

            <!-- Benefit Card 4 -->
            <div class="col-md-6 col-lg-4 p-0">
                <div class="p-4 border-top rounded-0 h-100">
                <div class="mb-3 text-blue fs-4">
                    <i class="fas fa-expand-arrows-alt"></i>
                </div>
                <h6 class="fw-bold">Scalability and Adaptability</h6>
                <p class="text-muted small mb-0">
                    Built with the future in mind, our AI/ML solutions seamlessly adapt to your evolving business needs, ensuring sustained success.
                </p>
                </div>
            </div>

            <!-- Benefit Card 5 -->
            <div class="col-md-6 col-lg-4 p-0">
                <div class="p-4 border border-bottom-0 rounded-0 h-100">
                <div class="mb-3 text-blue fs-4">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <h6 class="fw-bold">Transparent and Ethical Development</h6>
                <p class="text-muted small mb-0">
                    Committed to responsible practices, we uphold stringent ethical guidelines and maintain transparency throughout the development process.
                </p>
                </div>
            </div>

            <!-- Benefit Card 6 -->
            <div class="col-md-6 col-lg-4 p-0">
                <div class="p-4 border-top rounded-0 h-100">
                <div class="mb-3 text-blue fs-4">
                    <i class="fas fa-users"></i>
                </div>
                <h6 class="fw-bold">Dedicated Expertise and Support</h6>
                <p class="text-muted small mb-0">
                    Benefit from our team of experienced professionals who provide ongoing support and guidance throughout every stage of the journey.
                </p>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- process start  -->
    <section class="process-section text-center">
        <div class="container">
            <h2 class="fw-bold mb-3">Process of Build App</h2>
            <p class="mb-5">Delivering work within time and budget which meets client's requirements is our moto.</p>


            <div class="timeline py-5">

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-handshake"></i></div>
                    <div class="step-label">Initial Meeting</div>
                    <div class="circle mb-0">1</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">2</div>
                    <div class="step-icon"><i class="fas fa-file-alt"></i></div>
                    <div class="step-label">Evaluation & Planning</div>
                </div>

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-code"></i></div>
                    <div class="step-label">Design & Development</div>
                    <div class="circle mb-0">3</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">4</div>
                    <div class="step-icon"><i class="fas fa-thumbs-up"></i></div>
                    <div class="step-label">Quality Testing</div>
                </div>

                <div class="process-box top-step">
                    <div class="step-icon"><i class="fas fa-cogs"></i></div>
                    <div class="step-label">Maintenance & Enhancement</div>
                    <div class="circle mb-0">5</div>
                </div>

                <div class="process-box bottom-step">
                    <div class="circle mt-0">6</div>
                    <div class="step-icon"><i class="fas fa-envelope"></i></div>
                    <div class="step-label">Delivery</div>
                </div>

            </div>
        </div>
    </section>

    <!-- process end -->

    <!-- Section 7 Start -->
    <section class="container newsletter-section position-relative overflow-hidden py-5 rounded-4 mt-5">
        <div class="container">
            <div class="newsletter-content text-center py-5 px-4">
                <h1 class="newsletter-title text-white fw-bold">
                    Start Your App Journey With Expert Solutions and Seamless Experiences
                </h1>
                <div class="mt-4 mt-md-0">
                    <a href="{% url 'userapp:contact' %}" class="btn bg-light px-4 py-2 newslatter-button">Let's Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 7 End -->

{% endblock %}